<div class="branding">
    <h3>Branding</h3>
    <hr>
    <div fxLayout="row" fxLayoutGap="20px" class="company-logo-wrap">
        <div fxFlex="20" class="">
            <div class="company-logo mat-elevation-z4">
                <img src="assets/img/my-logo.png" alt="company logo">
            </div>

        </div>
        <div fxFlex="60" class="">
            <p>A logo will be displayed for your customers in all documents and emails you send. The image file should be in PNG or GIF format and scaled to 200 x 50 pixels. An image with a transparent background is preferable.</p>
            <button mat-raised-button>Change Logo</button>
        </div>
    </div>
</div>