.proposal-cards {
    .proposal-card {
        max-height: 80px;
        min-height: 80px;
        width: 100%;
        background: #fff;
        border-right: #ED8787 solid 8px;
        span {
            font-size: 16px;
        }
        .project-name {
            padding-left: 25px;
        }
        .client-name {
            color: #828282;
        }
        .project-state {
            text-align: right;
            padding-right: 20px;
            color: #ED8787;
            text-transform: uppercase;
        }
        &:hover {
            cursor: pointer;
        }
    }
}