.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.title {
    font-family: 'Pacifico', cursive;
}

img {
    vertical-align: middle;
}

.space {
    flex: 1 1 auto;
}

.btn {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 24px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    min-width: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    flex-shrink: 0;
}

.name {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
}