<div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="18">
        <ul class="settings-menu mat-elevation-z2">
            <li class="title">GENERAL</li>
            <li routerLinkActive="active" [routerLink]="['profile']" class="list-hover">
                <a class="list-item">Profile</a>
            </li>
            <li class="title">WORKSPACE</li>
            <li routerLinkActive="active" class="list-hover" [routerLink]="['branding']">
                <a class="list-item">Branding</a>
            </li>
            <li routerLinkActive="active" class="list-hover" [routerLink]="['brandings']">
                <a class="list-item">Intergration</a>
            </li>
        </ul>
    </div>
    <div fxFlex="82">
        <router-outlet></router-outlet>
    </div>
</div>