<div class="add-prop" fxLayout="row">
    <!-- <div fxFlex="25">
        <h1>t</h1>
        <ul>
            <li>
                <ng-template matStepLabel>Fill out your name</ng-template>
            </li>
        </ul>
    </div> -->
    <div>
        <h1>CREATE PROPOSAL</h1>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="clientFormGroup">
                <form [formGroup]="clientFormGroup">
                    <ng-template matStepLabel>CLIENT DETAILS</ng-template>
                    <div fxLayout="column" fxLayoutGap="20px">
                        <mat-form-field>
                            <input matInput placeholder="Contact Name" formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Company/ Organisation Name " formControlName="company" required>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Company/ Organisation Description " formControlName="description" required></textarea>
                        </mat-form-field>
                    </div>

                    <div class="action">
                        <button mat-raised-button matStepperNext>Continue</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="projectFormGroup">
                <form [formGroup]="projectFormGroup">
                    <ng-template matStepLabel>PROJECT DETAILS</ng-template>
                    <div fxLayout="column" fxLayoutGap="20px">
                        <mat-form-field>
                            <input matInput placeholder="Project Name" formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Project Description" formControlName="description" required>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Project Goals" formControlName="goals" required></textarea>
                        </mat-form-field>
                    </div>
                    <div class="action">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext>Continue</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="meFormGroup">
                <form [formGroup]="meFormGroup" class="with-side">
                    <ng-template matStepLabel>WHY WORK WITH ME</ng-template>
                    <div class="wdt" fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="70">
                            <div class="predef">
                                <div class="title">
                                    <p>
                                        Selected
                                    </p>
                                </div>
                                <hr>
                                <div class="content">
                                    <div class="statement" (click)="addToAboutList(i, me)" *ngFor="let me of _listAboutMe; let i = index">
                                        <p>
                                            {{ me.description}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div fxFlex="30">
                            <div class="list">
                                <div class="more">
                                    + Add More
                                </div>
                                <hr>
                                <div class="conte">
                                    <div (click)="addAboutMe(i,me)" class="statement" *ngFor="let me of listAboutMe; let i = index">
                                        <p>{{me.title}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="action">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext>Continue</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="deliverFormGroup">
                <form [formGroup]="deliverFormGroup" class="with-side">
                    <ng-template matStepLabel>DELIVERABLES</ng-template>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="70">
                            <div class="predef">
                                <div class="title">
                                    <p>
                                        Selected
                                    </p>
                                </div>
                                <hr>
                                <div class="content">
                                    <div fxLayout="row" fxLayoutGap="10px" class="statement borders" (click)="addToDeliverList(i, me)" *ngFor="let me of _listDeliver; let i = index">
                                        <div class="mr10 br" fxFlex="70">
                                            <p>
                                                {{ me.title}}
                                            </p>
                                        </div>
                                        <div class="mr10 mr-10" fxFlex="30">
                                            <p>
                                                {{ me.price}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="totals">
                                    <div class="dis-box" fxLayout="row">
                                        <div class="mr10 br" fxFlex="70">
                                            <span>Discount</span>
                                        </div>
                                        <div class="mr10 tax" fxFlex="30">
                                            <mat-checkbox>Tax Included</mat-checkbox>
                                        </div>
                                    </div>
                                    <div fxLayout="row">
                                        <div class="mtb10" fxFlex="70">
                                            <span>TOTAL</span>
                                        </div>
                                        <div class="mtb10 total-price" fxFlex="30">
                                            <span>R2000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="30">
                            <div class="list">
                                <div class="more">
                                    + Add More
                                </div>
                                <hr>
                                <div class="conte">
                                    <div (click)="addDeliver(i,del)" class="statement" *ngFor="let del of listDeliver; let i = index">
                                        <p>{{del.title}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="action">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext>Continue</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="mileFormGroup">
                <form [formGroup]="mileFormGroup" class="with-side">
                    <ng-template matStepLabel>MILESTONES</ng-template>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="70">
                            <div class="predef">
                                <div class="title">
                                    <p>
                                        Selected
                                    </p>
                                </div>
                                <hr>
                                <div class="content">
                                    <div fxLayout="row" fxLayoutGap="10px" class="statement borders" (click)="addToMileList(i, me)" *ngFor="let me of _listMile; let i = index">
                                        <div class="mr10 br" fxFlex="70">
                                            <p>
                                                {{ me.title}}
                                            </p>
                                        </div>
                                        <div class="mr10 mr-10" fxFlex="30">
                                            <p>
                                                {{ me.time}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div fxFlex="30">
                            <div class="list">
                                <div class="more">
                                    + Add More
                                </div>
                                <hr>
                                <div class="conte">
                                    <div (click)="addMile(i,mil)" class="statement" *ngFor="let mil of listMile; let i = index">
                                        <p>{{mil.title}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="action">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext>Continue</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div class="action">
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button (click)="create()" [routerLink]="['/proposal']">Create Proposal</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>

    </div>
</div>