<div class="container">
    <div class="proposal">
        <div class="proposal-box">
            <div class="proposal-head">
                <div class="my-logo">
                    <img height="120" width="120" src="assets/img/my-logo.png" alt="">
                </div>
                <div class="head-content">
                    <h1 class="title">Project Name</h1>
                    <div class="line"></div>
                    <h1 class="date">06/06/2018</h1>

                    <div fxLayout="column" fxLayoutGap="25px" class="contacts">
                        <div fxLayout="row" fxLayoutGap="160px" class="top">
                            <div class="name">
                                <p class="toby">By</p>
                                <p>Name</p>
                            </div>
                            <div class="name">
                                <p class="toby">Contact</p>
                                <p>Email</p>
                            </div>
                        </div>

                        <div class="name">
                            <p class="toby">To</p>
                            <p>Name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="30px" class="proposal-content">
                <div fxLayout="row">
                    <div fxFlex="33">
                        <h5>Project Name</h5>
                    </div>
                    <div fxFlex="67">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eligendi accusamus maxime dolor repudiandae. Fuga ratione suscipit ea a doloribus dolorum, porro rerum culpa accusamus aliquam excepturi quaerat facilis aliquid.Quasi
                            fuga dolor, porro repellendus, hic voluptatem est obcaecati, itaque explicabo sapiente mollitia maiores molestias distinctio illum culpa autem atque tempora neque quia quam sequi? Error facere dicta voluptatibus distinctio.
                        </p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="33">
                        <h5>Project Name</h5>
                    </div>
                    <div fxFlex="67">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eligendi accusamus maxime dolor repudiandae. Fuga ratione suscipit ea a doloribus dolorum, porro rerum culpa accusamus aliquam excepturi quaerat facilis aliquid.Quasi
                            fuga dolor, porro repellendus, hic voluptatem est obcaecati, itaque explicabo sapiente mollitia maiores molestias distinctio illum culpa autem atque tempora neque quia quam sequi? Error facere dicta voluptatibus distinctio.
                        </p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="33">
                        <h5>Project Name</h5>
                    </div>
                    <div fxFlex="67">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eligendi accusamus maxime dolor repudiandae. Fuga ratione suscipit ea a doloribus dolorum, porro rerum culpa accusamus aliquam excepturi quaerat facilis aliquid.Quasi
                            fuga dolor, porro repellendus, hic voluptatem est obcaecati, itaque explicabo sapiente mollitia maiores molestias distinctio illum culpa autem atque tempora neque quia quam sequi? Error facere dicta voluptatibus distinctio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>