/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #E5E5E5;
}

.container {
    margin: 0 auto;
    width: 80%;
}